<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= project.title %> – Project Page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
      function setValue(value) {
        document.getElementById("form-owner-id").value = value;
      }

      function toggleForm(member_id) {
        var all_forms = document.getElementsByName("expense-form");
        for (i=0;i<all_forms.length;i++) {
          if (all_forms[i].id != member_id) {
            all_forms[i].style.visibility = "hidden";
          }
        }

        document.getElementById(member_id).style.visibility = "visible";
      }
    </script>
  </head>
  <body>
    <% include partial/nav.ejs %>

    <div class="hero-body has-text-centered">
      <form id="new-member-form" method="POST" action="/projects/<%= project._id %>/newmember">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" name="name" placeholder="Member name" required="required"/>
          </div>
          <div class="control">
            <button class="button is-primary centered">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>

    <table class="table is-bordered is-fullwidth">
      <tbody>
        <% for (i=0;i<project.members.length;i++) { %>
          <tr><td>
            <a onclick="toggleForm('<%= project.members[i]._id %>')">
              <h2 class="subtitle"><%= project.members[i].name %></h2>
              <div class="container" name="expense-form" id="<%= project.members[i]._id %>" style="visibility: hidden">
                <form method="POST" action="/projects/<%= project._id %>/newexpense">
                  <input type="hidden" name="owner" value="<%= project.members[i]._id %>"/>
                  <div class="control">
                    <input class="input" style="width:200px" type="number" step="0.01" name="amount" placeholder="Amount" required="required"/>
                  </div>
                  <div class="control">
                    <% for (j=0;j<project.members.length;j++) { %>
                      <input class="checkbox" type="checkbox" name="took_part" value="<%= project.members[j]._id %>">
                      <label for="took_part"><%= project.members[j].name %></label>
                    <% }; %>
                  </div>
                  <input class="button is-primary" type="submit" value="submit"/>
                </form>
              </div>
            </a>
          </td></tr>
        <% }; %>
      </tbody>
    </table>

    <div class="container">
      <h3 class="title">Summary:</h3>
      <div id="summary">
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          $.ajax({
            url: "/projects/<%= project._id %>/summary"
          }).done(function(data) {
            $("#summary").html(data);
          });
        });
      </script>
    </div>

    <div class="container">
      <table class="table is-bordered is-striped">
        <h3 class="subtitle">Your trip expenses:</h3>
        <thead>
          <tr>
            <th class=""><b>Date</b></th>
            <th class=""><b>Who paid</b></th>
            <th class=""><b>Amount</b></th>
            <th class=""><b>Delete</b></th>
          </tr>
        </thead>
        <tbody style="background-color: #aaaa00">
          <% for (i=0;i<project.expenses.length;i++) { %>
            <tr>
              <td><%= project.expenses[i].datetime; %></td>
              <td><%= project.members.filter(a => a._id.equals(project.expenses[i].owner))[0].name; %></td>
              <td><%= project.expenses[i].amount; %></td>
              <td style="text-align:center;vertical-align:middle"><a href="/projects/<%= project._id %>/remove/<%= project.expenses[i]._id %>"><b>X</b></a></td>
            </tr>
          <% }; %>
        </tbody>
      </table>
    </div>
  </body>
</html>
